@charset "UTF-8";
/* =================================== */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

/* =================================== */
@font-face {
  font-family: "LarishA";
  src: url("../fonts/Larish Neue Semibold.woff2");
}
@font-face {
  font-family: "LarishB";
  src: url("../fonts/LarishNeueSemibold.woff");
}
/* =================================== */
/* ------💀--- h•e•a•d•e•r -💀 ---------*/
/* =================================== */
/* =================================== */
/* ------🧭-- n•a•v-b•a•r --🧭---------*/
/* =================================== */
/* =================================== */
/*---------  m•a•i•n  ----------------*/
/* =================================== */
.white-middle {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 5fr 1fr 3fr 1fr;
  max-width: 1440px;
  list-style: none;
}
.white-middle h2 {
  font-family: "LarishA";
  font-size: 4.4rem;
  font-weight: 800;
}
.white-middle p {
  font-family: "Work Sans", sans-serif;
  line-height: 1.8;
  margin-top: 1rem;
}
.white-middle li:nth-child(2) {
  grid-column: 1/span 4;
  grid-row: 3/span 2;
  background: black;
}
.white-middle li:nth-child(6) {
  grid-row: 3/span 2;
  background: black;
}
.white-middle li:nth-child(1) {
  grid-column: 5/span 2;
  grid-row: 4/span 2;
}
.white-middle li:nth-child(3) {
  grid-column: 2/span 1;
  grid-row: 6;
  margin-top: 10vh;
}
.white-middle li:nth-child(4) {
  grid-column: 4/span 1;
  grid-row: 7/span 2;
}
.white-middle li:nth-child(5) {
  grid-column: 6/span 2;
  grid-row: 9/span 2;
}
.white-middle img {
  display: block;
  width: 100%;
}

.white-bottom {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 5fr 1fr 3fr 1fr;
  grid-template-rows: repeat(11, 10%);
  max-width: 1440px;
  list-style: none;
  margin-top: 10vh;
}
.white-bottom h2 {
  font-family: "LarishA";
  font-size: 4.4rem;
  font-weight: 800;
}
.white-bottom p {
  font-family: "Work Sans", sans-serif;
  line-height: 1.8;
  margin-top: 1rem;
}
.white-bottom li:nth-child(1) {
  grid-column: 2/span 2;
  grid-row: 1/span 2;
}
.white-bottom li:nth-child(3) {
  grid-column: 5/span 2;
  grid-row: 2/span 2;
  margin-top: 10vh;
}
.white-bottom li:nth-child(4) {
  grid-column: 4/span 1;
  grid-row: 4/span 2;
  margin-top: 10vh;
}
.white-bottom li:nth-child(5) {
  grid-column: 1/span 2;
  grid-row: 4/span 2;
  margin-top: 10vh;
}
.white-bottom li:nth-child(6) {
  grid-column: 4/span 3;
  grid-row: 6/span 2;
  margin-left: 20%;
  margin-top: 20vh;
}
.white-bottom li:nth-child(7) {
  background-color: black;
  grid-column: 1/span 7;
  grid-row: 10/span 1;
  z-index: -1;
}
.white-bottom img {
  display: block;
  width: 100%;
}

.bear-head-text {
  display: flex;
  background-color: black;
  color: white;
}
.bear-head-text .head {
  width: 40%;
}
.bear-head-text .head h2 {
  font-size: 4.4rem;
  font-family: "LarishA";
}
.bear-head-text .head p {
  font-family: "Work Sans", sans-serif;
  line-height: 1.8;
}
.bear-head-text .text {
  width: 40%;
}
.bear-head-text .text p:first-child {
  font-size: 1.2rem;
  font-family: "LarishB";
  line-height: 1.8;
}
.bear-head-text .text p:last-child {
  font-family: "Work Sans", sans-serif;
  line-height: 1.8;
  margin-top: 5vh;
}

.poppy-head-text {
  display: flex;
  background-color: white;
  color: black;
}
.poppy-head-text .head {
  width: 40%;
}
.poppy-head-text .head h2 {
  font-size: 4.4rem;
  font-family: "LarishA";
}
.poppy-head-text .head p {
  font-family: "Work Sans", sans-serif;
  line-height: 1.8;
}
.poppy-head-text .text {
  width: 40%;
}
.poppy-head-text .text p:first-child {
  font-size: 1.2rem;
  font-family: "LarishB";
  line-height: 1.8;
}
.poppy-head-text .text p:last-child {
  font-family: "Work Sans", sans-serif;
  line-height: 1.8;
  margin-top: 5vh;
}

.bear-images {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 5fr 1fr 3fr 1fr;
  grid-template-rows: 1fr 5fr 1fr 1fr;
  max-width: 1440px;
  list-style: none;
  background: black;
}
.bear-images img:first-child {
  display: block;
  width: 100%;
  grid-column: 2/span 3;
  grid-row: 2;
}
.bear-images img:last-child {
  display: block;
  width: 75%;
  grid-column: 4/span 2;
  grid-row: 2;
  margin: 35% 49%;
}

/* =================================== */
/* --------👣 - f•o•o•t•e•r -----------*/
/* =================================== */
/* =================================== */
/* --🖥- m•e•d•i•a-q•u•e•r•i•e•s -📲--- */
/* =================================== */

/*# sourceMappingURL=style.css.map */
